<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <h1></h1>
    <form  method="POST" action="http://localhost:8080">
        <p>text <input type="textbox" name="code" id="code"></p>
        <input type="submit" value="upload">
        <p>output <input type="textbox" value=''></p>
        <p><pre><%= title %><pre> </p>
    </form>
</body>
</html>