<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Code Converter </title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
  </head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<span class="avatar"><img src="images/avatar.jpg" alt="" /></span>
						<h1>This is a <strong><a href="#"> Code Converter. </a></strong> It's available to everyone, from kids to adults.<br>
						and Open your eyes, listen carefully, and focus.</h1>
						<ul class="icons">
							<li><a href="https://twitter.com/" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://web.500px.com/" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
							<li><a href="https://mail.google.com/mail/u/0/#inbox" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
					</header>

          <br><br><br><br><br>

				<!-- Main -->
					<section id="main">

						<!-- Thumbnails -->

            <main id="main">
              <section class="thumbnails">

                <div>
                  <a href="#">
                    <a href="C">
                      <h3> C language </h3> </a>
                  </a>
                </div>

                <div>
                  <a href="#">
                    <a href="Python">
                      <h3> Python </h3> </a>
                  </a>
                </div>

                <div>
                  <a href="#">
                    <a href = "use">
                      <h3> User's Manual </h3> </a>
                </a>
                </div>

              </section>
            </main>

				<!-- Footer -->
					<footer id="footer">
						<p> © Code Converter </p>
					</footer>
			</div>
	</body>
</html>
